name: "Test Suite"
on:
  push:
  pull_request:

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: |
          cargo test --features ndarray-backend,candle-backend
          RUST_BACKTRACE=full cargo test --examples --features ndarray-backend,candle-backend
  # Check formatting with rustfmt
  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo fmt --check

  clippy:
     name: cargo clippy
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-targets --features ndarray-backend,candle-backend -- --deny warnings -W clippy::redundant_clone
